
.update{
background-color: #FFFFFF;
}
.update__container{
    max-width: 1290px;
    margin: 0px auto;
}
.update__row{
    display: flex;
    justify-content: space-between;
}
.update__image{

}
.update__title{
    color: #050038;
    font-size: 72px;
    margin: 0px 0px 30px 0px;
}
.update__text{
    color: #5B5E6D;
    line-height: 32px;
    font-size: 20px;
    margin: 0px 0px 40px 0px;
}
.update__buttonMore{
    color: #000000;
    font-size: 18px;
    border-bottom: 2px solid #0555FF;
    display: inline;
}